.catalog-filter {
	width: 253px;

	&_opened {
		.catalog-filter__header {
			border-radius: 4px 4px 0px 0px;
		}

		.catalog-filter__header-icon_minus {
			display: block;
		}

		.catalog-filter__header-icon_plus {
			display: none;
		}

		.catalog-filter__body {
			display: block;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;

		height: 52px;
		background: #ffffff;
		border: 4px solid #000000;
		border-radius: 4px;

		&-title {
			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			text-transform: uppercase;
		}

		&-icon {
			cursor: pointer;

			&_minus {
				display: none;
			}

			&_plus {
				display: block;
			}
		}
	}

	&__body {
		display: none;
		max-height: 364px;
		padding: 15px;

		width: 100%;
		background: #fffce3;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: #000000;
		border-radius: 0px;

		overflow-y: auto;
		scrollbar-color: #000000 #ffca29;
	}
}

.catalog-filter[data-filter-type="checkbox"] {
	.catalog-filter__body {
		padding: 0px;
	}
}

.catalog-filter-reset {
	width: 253px;
	cursor: pointer;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;

		height: 52px;
		background: #ffffff;
		border: 4px solid #000000;
		border-radius: 4px;

		&-title {
			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			text-transform: uppercase;
		}

		&-icon {
			cursor: pointer;
		}
	}
}
