.product-card {
	width: 282px;
	// height: 457px;
	// overflow: hidden;
	border: 4px solid #000000;
	// filter: drop-shadow(4px 4px 0px #000000);
	box-shadow: 4px 4px 0px #000000;
	border-radius: 8px;
	background: #4eff9f;
	position: relative;

	&_sale {
		background: #ffca29;
	}

	&__img-wrapper {
		position: relative;
		top: -4px;
		left: -4px;
		width: 282px;
		// height: 321px;
		height: 228px;
		display: flex;
		align-items: center;
		background: #ffffff;
		border: 4px solid #000000;
		border-radius: 8px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__info-wrapper {
		padding: 20px;
		padding-bottom: 15px;
		padding-top: 9px;
	}

	&__title {
		display: block;
		text-decoration: none;
		height: 50px;
		font-family: "IBM Plex Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: #000000;

		margin-bottom: 10px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__select-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__select-container,
	&__select-title {
		font-family: "IBM Plex Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #000000;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		margin-top: 14px;
	}

	&__price-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__current-price {
		font-family: "Alfa Slab One";
		font-style: normal;
		font-weight: 400;
		font-size: 26px;
		line-height: 36px;
		color: #000000;
	}

	&__old-price {
		display: inline;
		position: relative;
		font-family: "Alfa Slab One";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #ff4343;

		&::after {
			content: "";
			position: absolute;
			transform: translate(-95%, 480%);
			display: inline-block;
			width: 110%;
			height: 2px;
			background: red;
		}
	}

	&__counter-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__counter-minus,
	&__counter-plus {
		cursor: pointer;
	}

	&__counter-number {
		font-family: "IBM Plex Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: #000000;

		margin-bottom: 4px;
	}

	&__add-cart-button {
		cursor: pointer;
		width: 100%;
		margin-top: 14px;
		border-radius: 6px;
	}
}
