.cart {
	&__title {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.cart__wrapper {
		display: flex;
		position: relative;
		margin-bottom: 80px;

		&_empty {
			border: 4px solid #000000;
			box-shadow: 3px 3px 0px #191919;
			border-radius: 8px;
			height: 430px;
			// background-image: url("../../../img/cart/empty-cart-bg-img.png");
			background-image: url("../../../assets/img/cart/empty-cart-bg-img.png");
		}
	}

	&__empty-cart-text {
		position: absolute;
		top: 45px;
		right: 180px;

		padding: 20px;
		background: #fffce3;
		border: 4px solid #000000;
		box-shadow: 4px 4px 0px #000000;
		border-radius: 8px;
		transform: rotate(-3.56deg);

		font-family: "IBM Plex Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		color: #000000;
	}

	&__empty-cart-button {
		position: absolute;
		bottom: 45px;
		right: 325px;
		width: 187px;
	}
}

.cart-order {
	display: flex;
	flex-direction: column;
	width: 594px;
	padding: 30px;
	background: #d6f8ff;
	border: 2px solid #000000;
	box-shadow: 4px 4px 0px #000000;
	border-radius: 8px;

	&__title {
		font-family: "IBM Plex Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		color: #000000;
	}

	&__items-wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&-item {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		// align-items: center;
		gap: 20px;
		// min-height: 70px;
		border-bottom: 1px solid #7ec7d7;

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__product-info-wrapper {
			display: flex;
			// align-items: flex-start;
			align-items: center;
			gap: 20px;
		}

		&__product-img {
			width: 70px;
			height: 48px;
			border: 2px solid #000000;
			box-shadow: 4px 4px 0px #000000;
			border-radius: 4px;
		}

		&__product-name {
			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&__controls-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			margin-top: 5px;
			margin-bottom: 20px;
		}

		&__options-wrapper {
			display: flex;
			align-items: center;
		}

		&__option-item {
			display: flex;
			align-items: center;

			&:first-child {
				margin-right: 20px;
			}
		}

		&__option-name {
			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			margin-right: 8px;
		}

		&__option-box {
			height: 35px;
			background: #fffce3;
			border: 1px solid #000000;
			box-shadow: 3px 3px 0px #000000;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;

			.cart-order-item__option-size-text {
				font-family: "IBM Plex Mono";
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 23px;
				color: #000000;
				margin: auto 12px;
			}

			.cart-order-item__option-color-img {
				height: inherit;
				border-radius: inherit;
			}
		}

		&__counters-wrapper {
			display: flex;
			align-items: center;
		}

		&__counter-wrapper {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-right: 20px;
		}

		&__counter-number {
			min-width: 35px;
			height: 35px;
			padding: 6px 12px;

			background: #fffce3;
			border: 1px solid #000000;
			box-shadow: 4px 4px 0px #000000;
			border-radius: 4px;

			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
		}

		&__counter-plus,
		&__counter-minus {
			cursor: pointer;
		}

		&__total-cost {
			min-width: 35px;
			height: 35px;
			padding: 6px 12px;

			background: #fffce3;
			border: 1px solid #000000;
			box-shadow: 4px 4px 0px #000000;
			border-radius: 4px;

			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
		}

		&__remove-item {
			cursor: pointer;

			&:hover {
				svg {
					path {
						fill: #f97b7b;
					}
				}
			}
		}
	}

	&__info {
		&-wrapper {
			margin-top: 30px;
		}

		&-item {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		&-text,
		&-sum {
			font-family: "IBM Plex Mono";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 140%;
			color: #000000;
		}
	}

	&__payment-button {
		cursor: pointer;
		margin-top: 30px;
		align-self: end;
	}
}
